/* common styling for all starts here */

*,
*::before,
*::after {
  @include box-sizing();
  padding: 0;
  margin: 0;
}

html { scroll-behavior: smooth; }
span { display: inline-block; }
a { @include transition(); }

::first-letter { text-transform: uppercase; }
p { line-height: 2; }

/* common styling for all ends here */