/* common styling for all starts here */

*,
*::before,
*::after {
  @include box-sizing();
  padding: 0;
  margin: 0;
}

html { scroll-behavior: smooth; }
span { display: inline-block; }
a { @include transition(); }

::first-letter { text-transform: uppercase; }

.section-title {
  font-size: 34px;
  font-weight: 600;
  color: $clr-white;
}

.eventOne__para,
.eventTwo__para,
.eventThree__para {
  margin: 26px 0 58px;
  line-height: 2;
}

p {
  color: $clr-para;
  font-size: 18px;
  line-height: 1.5;
  word-spacing: 1px;
}

.eventOne__lists,
.eventTwo__gallery--lists,
.eventThree__gallery--lists {
  a {
    overflow: hidden;
    position: relative;
    color: $bg-para;

    &::before {
      @include fontAwesome(#{$play-icon});
      z-index: 1;
      font-size: 47px;
    }

    & img { @include transition; }

    &:hover {
      color: $clr-pink;

      & img { @include transform(scale(1.1)); } 
    }
  }
}

/* common styling for all ends here */