$bg-header: #101d3a;
$bg-footer: #020b13;
$bg-para: #34434f;
$bg-event1: #101f28;
$bg-event2: #122635;
$bg-event3: #202727;
$clr-para: #c1c7cd;
$clr-pink: #aa14cc;
$clr-white: #fff;

$play-icon : \f04b;
$social-icons : ((1: \f099, 2: \f09a, 3: \f16d, 4: \f2ab));