/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1366px;
  width: 90%;
  margin: 0 auto;
}

/* common styling for all starts here */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

span {
  display: inline-block;
}

a {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

::first-letter {
  text-transform: uppercase;
}

p {
  line-height: 2;
}

/* common styling for all ends here */
/* header section styling starts here */
.header__wrapper {
  width: 100%;
  padding: 16px 1.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(16, 29, 58, 0.9);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  z-index: 3;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}
.header__hamburger--bar {
  width: 13px;
  height: 2px;
  border-radius: 2px;
  position: relative;
  top: 4px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-indent: -99999px;
}
.header__hamburger--bar::before, .header__hamburger--bar::after {
  content: "";
  width: inherit;
  height: inherit;
  border-radius: inherit;
  position: absolute;
  left: 0;
  background-color: inherit;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header__hamburger--bar::before {
  top: -8px;
}
.header__hamburger--bar::after {
  top: -4px;
}
.header__hamburger span:last-child {
  color: #fff;
  font-size: 14px;
}
.header__hamburger:hover .header__hamburger--bar {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.header__hamburger:hover .header__hamburger--bar::before {
  display: none;
}
.header__hamburger:hover .header__hamburger--bar::after {
  top: 0;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.header__nav {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 2;
  top: 0;
  left: -100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #101d3a;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header__nav--menu li {
  margin: 10px;
  display: block;
}
.header__nav--menu a {
  padding: 5px;
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
}
.header__nav--menu a:hover {
  color: #aa14cc;
}
.header__hamburger:hover ~ .header__nav {
  left: 0;
}

/* header section styling ends here */
/* banner section styling starts here */
.banner__wrapper {
  width: 100%;
}
.banner__figure {
  height: 100%;
}
.banner__figure img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.banner__content {
  position: absolute;
  top: 59.5%;
  left: 50%;
  color: #fff;
  font-weight: 600;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.banner__content h1 {
  font-size: 55px;
}
.banner__content p {
  margin: 31px 0 36px;
  font-size: 20px;
  line-height: 1.9;
}
.banner__button {
  padding: 15px 26px;
  border: 2px solid #fff;
  border-radius: 3px;
  color: #fff;
  font-size: 20px;
}
.banner__button:hover {
  background-color: #fff;
  color: #101d3a;
}

/* banner section styling ends here */

/*# sourceMappingURL=style.css.map */
